body {
    margin: 0px;
    padding: 0px;
}
.left {
    width: 25%;
    height: 100px;
    background-color: red;
    float: left;
}
.main {
    width: 50%;
    height: 100px;
    background-color: green;
    float: left;
}
.right {
    width: 25%;
    height: 100px;
    background-color: blue;
    float: left;
}

@media (max-width: 640px) {
    .left {
        width: 100%;
    }
    .main {
        width: 100%;
    }
    .right {
        width: 100%;
    }
}


@media (max-width: 960px) {
    .left {
        width: 50%;
    }
    .main {
        width: 50%;
    }
    .right {
        width: 100%;
    }
}


