.header {
    padding-left: 10px;
}
.main {
    display: table;
}
.navigation {
    width: 150px;
    background-color: black;
    color: white;
    padding: 10px;
    display: table-cell;
}
.section {
    padding-left: 10px;
    display: table-cell;
}
.footer {
    text-align: center;
}
@media (max-width: 640px) {
    .main {
        display: block;
    }
    .navigation {
        width: 640px;
    }
}